<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybinsure.icar.user.mapper.data.PolicyDOMapper">
  <resultMap id="BaseResultMap" type="com.ybinsure.icar.user.model.data.PolicyDO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="source_code" jdbcType="VARCHAR" property="sourceCode" />
    <result column="company_id" jdbcType="TINYINT" property="companyId" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="tci_start_date" jdbcType="DATE" property="tciStartDate" />
    <result column="tci_end_date" jdbcType="DATE" property="tciEndDate" />
    <result column="vci_start_date" jdbcType="DATE" property="vciStartDate" />
    <result column="vci_end_date" jdbcType="DATE" property="vciEndDate" />
    <result column="total_premium" jdbcType="DOUBLE" property="totalPremium" />
    <result column="tci_premium" jdbcType="DOUBLE" property="tciPremium" />
    <result column="vci_premium" jdbcType="DOUBLE" property="vciPremium" />
    <result column="vehicle_tax" jdbcType="DOUBLE" property="vehicleTax" />
    <result column="tci_loss_occurred_count" jdbcType="TINYINT" property="tciLossOccurredCount" />
    <result column="vci_loss_occurred_count" jdbcType="TINYINT" property="vciLossOccurredCount" />
    <result column="tci_discount" jdbcType="DOUBLE" property="tciDiscount" />
    <result column="vci_discount" jdbcType="DOUBLE" property="vciDiscount" />
    <result column="tci_commission" jdbcType="DOUBLE" property="tciCommission" />
    <result column="vci_commission" jdbcType="DOUBLE" property="vciCommission" />
    <result column="receive_name" jdbcType="VARCHAR" property="receiveName" />
    <result column="receive_address" jdbcType="VARCHAR" property="receiveAddress" />
    <result column="receive_phone" jdbcType="VARCHAR" property="receivePhone" />
    <result column="proposal_no" jdbcType="VARCHAR" property="proposalNo" />
    <result column="tci_proposal_no" jdbcType="VARCHAR" property="tciProposalNo" />
    <result column="vci_proposal_no" jdbcType="VARCHAR" property="vciProposalNo" />
    <result column="pay_no" jdbcType="VARCHAR" property="payNo" />
    <result column="policy_no" jdbcType="VARCHAR" property="policyNo" />
    <result column="tci_policy_no" jdbcType="VARCHAR" property="tciPolicyNo" />
    <result column="vci_policy_no" jdbcType="VARCHAR" property="vciPolicyNo" />
    <result column="tci_policy_status" jdbcType="TINYINT" property="tciPolicyStatus" />
    <result column="tci_status_message" jdbcType="VARCHAR" property="tciStatusMessage" />
    <result column="vci_policy_status" jdbcType="TINYINT" property="vciPolicyStatus" />
    <result column="vci_status_message" jdbcType="VARCHAR" property="vciStatusMessage" />
    <result column="policy_status" jdbcType="TINYINT" property="policyStatus" />
    <result column="protocol_code" jdbcType="VARCHAR" property="protocolCode" />
    <result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
    <result column="business_property" jdbcType="VARCHAR" property="businessProperty" />
    <result column="company_channel_id" jdbcType="VARCHAR" property="companyChannelId" />
    <result column="sync_status" jdbcType="TINYINT" property="syncStatus" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="quote_time" jdbcType="BIGINT" property="quoteTime" />
    <result column="insure_time" jdbcType="BIGINT" property="insureTime" />
    <result column="pay_time" jdbcType="BIGINT" property="payTime" />
    <result column="policy_time" jdbcType="BIGINT" property="policyTime" />
    <result column="tci_policy_end_date" jdbcType="DATE" property="tciPolicyEndDate" />
    <result column="vci_policy_end_date" jdbcType="DATE" property="vciPolicyEndDate" />
    <result column="is_offline" jdbcType="TINYINT" property="isOffline" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="channel0" jdbcType="VARCHAR" property="channel0" />
    <result column="channel1" jdbcType="VARCHAR" property="channel1" />
    <result column="channel2" jdbcType="VARCHAR" property="channel2" />
    <result column="channel3" jdbcType="VARCHAR" property="channel3" />
    <result column="channel4" jdbcType="VARCHAR" property="channel4" />
    <result column="channel5" jdbcType="VARCHAR" property="channel5" />
    <result column="channel6" jdbcType="VARCHAR" property="channel6" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, user_id, source_code, company_id, channel_id, tci_start_date, tci_end_date, 
    vci_start_date, vci_end_date, total_premium, tci_premium, vci_premium, vehicle_tax, 
    tci_loss_occurred_count, vci_loss_occurred_count, tci_discount, vci_discount, tci_commission, 
    vci_commission, receive_name, receive_address, receive_phone, proposal_no, tci_proposal_no, 
    vci_proposal_no, pay_no, policy_no, tci_policy_no, vci_policy_no, tci_policy_status, 
    tci_status_message, vci_policy_status, vci_status_message, policy_status, protocol_code, 
    operator_id, business_property, company_channel_id, sync_status, reason, quote_time, 
    insure_time, pay_time, policy_time, tci_policy_end_date, vci_policy_end_date, is_offline, 
    is_deleted, channel0, channel1, channel2, channel3, channel4, channel5, channel6
  </sql>
  <select id="selectByExample" parameterType="com.ybinsure.icar.user.model.data.PolicyDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from icar_policy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from icar_policy
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from icar_policy
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ybinsure.icar.user.model.data.PolicyDOExample">
    delete from icar_policy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ybinsure.icar.user.model.data.PolicyDO">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT replace(uuid(), '-', '')
    </selectKey>
    insert into icar_policy (id, order_id, user_id, 
      source_code, company_id, channel_id, 
      tci_start_date, tci_end_date, vci_start_date, 
      vci_end_date, total_premium, tci_premium, 
      vci_premium, vehicle_tax, tci_loss_occurred_count, 
      vci_loss_occurred_count, tci_discount, vci_discount, 
      tci_commission, vci_commission, receive_name, 
      receive_address, receive_phone, proposal_no, 
      tci_proposal_no, vci_proposal_no, pay_no, 
      policy_no, tci_policy_no, vci_policy_no, 
      tci_policy_status, tci_status_message, vci_policy_status, 
      vci_status_message, policy_status, protocol_code, 
      operator_id, business_property, company_channel_id, 
      sync_status, reason, quote_time, 
      insure_time, pay_time, policy_time, 
      tci_policy_end_date, vci_policy_end_date, is_offline, 
      is_deleted, channel0, channel1, 
      channel2, channel3, channel4, 
      channel5, channel6)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{sourceCode,jdbcType=VARCHAR}, #{companyId,jdbcType=TINYINT}, #{channelId,jdbcType=INTEGER}, 
      #{tciStartDate,jdbcType=DATE}, #{tciEndDate,jdbcType=DATE}, #{vciStartDate,jdbcType=DATE}, 
      #{vciEndDate,jdbcType=DATE}, #{totalPremium,jdbcType=DOUBLE}, #{tciPremium,jdbcType=DOUBLE}, 
      #{vciPremium,jdbcType=DOUBLE}, #{vehicleTax,jdbcType=DOUBLE}, #{tciLossOccurredCount,jdbcType=TINYINT}, 
      #{vciLossOccurredCount,jdbcType=TINYINT}, #{tciDiscount,jdbcType=DOUBLE}, #{vciDiscount,jdbcType=DOUBLE}, 
      #{tciCommission,jdbcType=DOUBLE}, #{vciCommission,jdbcType=DOUBLE}, #{receiveName,jdbcType=VARCHAR}, 
      #{receiveAddress,jdbcType=VARCHAR}, #{receivePhone,jdbcType=VARCHAR}, #{proposalNo,jdbcType=VARCHAR}, 
      #{tciProposalNo,jdbcType=VARCHAR}, #{vciProposalNo,jdbcType=VARCHAR}, #{payNo,jdbcType=VARCHAR}, 
      #{policyNo,jdbcType=VARCHAR}, #{tciPolicyNo,jdbcType=VARCHAR}, #{vciPolicyNo,jdbcType=VARCHAR}, 
      #{tciPolicyStatus,jdbcType=TINYINT}, #{tciStatusMessage,jdbcType=VARCHAR}, #{vciPolicyStatus,jdbcType=TINYINT}, 
      #{vciStatusMessage,jdbcType=VARCHAR}, #{policyStatus,jdbcType=TINYINT}, #{protocolCode,jdbcType=VARCHAR}, 
      #{operatorId,jdbcType=VARCHAR}, #{businessProperty,jdbcType=VARCHAR}, #{companyChannelId,jdbcType=VARCHAR}, 
      #{syncStatus,jdbcType=TINYINT}, #{reason,jdbcType=VARCHAR}, #{quoteTime,jdbcType=BIGINT}, 
      #{insureTime,jdbcType=BIGINT}, #{payTime,jdbcType=BIGINT}, #{policyTime,jdbcType=BIGINT}, 
      #{tciPolicyEndDate,jdbcType=DATE}, #{vciPolicyEndDate,jdbcType=DATE}, #{isOffline,jdbcType=TINYINT}, 
      #{isDeleted,jdbcType=TINYINT}, #{channel0,jdbcType=VARCHAR}, #{channel1,jdbcType=VARCHAR}, 
      #{channel2,jdbcType=VARCHAR}, #{channel3,jdbcType=VARCHAR}, #{channel4,jdbcType=VARCHAR}, 
      #{channel5,jdbcType=VARCHAR}, #{channel6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ybinsure.icar.user.model.data.PolicyDO">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT replace(uuid(), '-', '')
    </selectKey>
    insert into icar_policy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="sourceCode != null">
        source_code,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="tciStartDate != null">
        tci_start_date,
      </if>
      <if test="tciEndDate != null">
        tci_end_date,
      </if>
      <if test="vciStartDate != null">
        vci_start_date,
      </if>
      <if test="vciEndDate != null">
        vci_end_date,
      </if>
      <if test="totalPremium != null">
        total_premium,
      </if>
      <if test="tciPremium != null">
        tci_premium,
      </if>
      <if test="vciPremium != null">
        vci_premium,
      </if>
      <if test="vehicleTax != null">
        vehicle_tax,
      </if>
      <if test="tciLossOccurredCount != null">
        tci_loss_occurred_count,
      </if>
      <if test="vciLossOccurredCount != null">
        vci_loss_occurred_count,
      </if>
      <if test="tciDiscount != null">
        tci_discount,
      </if>
      <if test="vciDiscount != null">
        vci_discount,
      </if>
      <if test="tciCommission != null">
        tci_commission,
      </if>
      <if test="vciCommission != null">
        vci_commission,
      </if>
      <if test="receiveName != null">
        receive_name,
      </if>
      <if test="receiveAddress != null">
        receive_address,
      </if>
      <if test="receivePhone != null">
        receive_phone,
      </if>
      <if test="proposalNo != null">
        proposal_no,
      </if>
      <if test="tciProposalNo != null">
        tci_proposal_no,
      </if>
      <if test="vciProposalNo != null">
        vci_proposal_no,
      </if>
      <if test="payNo != null">
        pay_no,
      </if>
      <if test="policyNo != null">
        policy_no,
      </if>
      <if test="tciPolicyNo != null">
        tci_policy_no,
      </if>
      <if test="vciPolicyNo != null">
        vci_policy_no,
      </if>
      <if test="tciPolicyStatus != null">
        tci_policy_status,
      </if>
      <if test="tciStatusMessage != null">
        tci_status_message,
      </if>
      <if test="vciPolicyStatus != null">
        vci_policy_status,
      </if>
      <if test="vciStatusMessage != null">
        vci_status_message,
      </if>
      <if test="policyStatus != null">
        policy_status,
      </if>
      <if test="protocolCode != null">
        protocol_code,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="businessProperty != null">
        business_property,
      </if>
      <if test="companyChannelId != null">
        company_channel_id,
      </if>
      <if test="syncStatus != null">
        sync_status,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="quoteTime != null">
        quote_time,
      </if>
      <if test="insureTime != null">
        insure_time,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="policyTime != null">
        policy_time,
      </if>
      <if test="tciPolicyEndDate != null">
        tci_policy_end_date,
      </if>
      <if test="vciPolicyEndDate != null">
        vci_policy_end_date,
      </if>
      <if test="isOffline != null">
        is_offline,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="channel0 != null">
        channel0,
      </if>
      <if test="channel1 != null">
        channel1,
      </if>
      <if test="channel2 != null">
        channel2,
      </if>
      <if test="channel3 != null">
        channel3,
      </if>
      <if test="channel4 != null">
        channel4,
      </if>
      <if test="channel5 != null">
        channel5,
      </if>
      <if test="channel6 != null">
        channel6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sourceCode != null">
        #{sourceCode,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=TINYINT},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="tciStartDate != null">
        #{tciStartDate,jdbcType=DATE},
      </if>
      <if test="tciEndDate != null">
        #{tciEndDate,jdbcType=DATE},
      </if>
      <if test="vciStartDate != null">
        #{vciStartDate,jdbcType=DATE},
      </if>
      <if test="vciEndDate != null">
        #{vciEndDate,jdbcType=DATE},
      </if>
      <if test="totalPremium != null">
        #{totalPremium,jdbcType=DOUBLE},
      </if>
      <if test="tciPremium != null">
        #{tciPremium,jdbcType=DOUBLE},
      </if>
      <if test="vciPremium != null">
        #{vciPremium,jdbcType=DOUBLE},
      </if>
      <if test="vehicleTax != null">
        #{vehicleTax,jdbcType=DOUBLE},
      </if>
      <if test="tciLossOccurredCount != null">
        #{tciLossOccurredCount,jdbcType=TINYINT},
      </if>
      <if test="vciLossOccurredCount != null">
        #{vciLossOccurredCount,jdbcType=TINYINT},
      </if>
      <if test="tciDiscount != null">
        #{tciDiscount,jdbcType=DOUBLE},
      </if>
      <if test="vciDiscount != null">
        #{vciDiscount,jdbcType=DOUBLE},
      </if>
      <if test="tciCommission != null">
        #{tciCommission,jdbcType=DOUBLE},
      </if>
      <if test="vciCommission != null">
        #{vciCommission,jdbcType=DOUBLE},
      </if>
      <if test="receiveName != null">
        #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="receiveAddress != null">
        #{receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="receivePhone != null">
        #{receivePhone,jdbcType=VARCHAR},
      </if>
      <if test="proposalNo != null">
        #{proposalNo,jdbcType=VARCHAR},
      </if>
      <if test="tciProposalNo != null">
        #{tciProposalNo,jdbcType=VARCHAR},
      </if>
      <if test="vciProposalNo != null">
        #{vciProposalNo,jdbcType=VARCHAR},
      </if>
      <if test="payNo != null">
        #{payNo,jdbcType=VARCHAR},
      </if>
      <if test="policyNo != null">
        #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="tciPolicyNo != null">
        #{tciPolicyNo,jdbcType=VARCHAR},
      </if>
      <if test="vciPolicyNo != null">
        #{vciPolicyNo,jdbcType=VARCHAR},
      </if>
      <if test="tciPolicyStatus != null">
        #{tciPolicyStatus,jdbcType=TINYINT},
      </if>
      <if test="tciStatusMessage != null">
        #{tciStatusMessage,jdbcType=VARCHAR},
      </if>
      <if test="vciPolicyStatus != null">
        #{vciPolicyStatus,jdbcType=TINYINT},
      </if>
      <if test="vciStatusMessage != null">
        #{vciStatusMessage,jdbcType=VARCHAR},
      </if>
      <if test="policyStatus != null">
        #{policyStatus,jdbcType=TINYINT},
      </if>
      <if test="protocolCode != null">
        #{protocolCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="businessProperty != null">
        #{businessProperty,jdbcType=VARCHAR},
      </if>
      <if test="companyChannelId != null">
        #{companyChannelId,jdbcType=VARCHAR},
      </if>
      <if test="syncStatus != null">
        #{syncStatus,jdbcType=TINYINT},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="quoteTime != null">
        #{quoteTime,jdbcType=BIGINT},
      </if>
      <if test="insureTime != null">
        #{insureTime,jdbcType=BIGINT},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=BIGINT},
      </if>
      <if test="policyTime != null">
        #{policyTime,jdbcType=BIGINT},
      </if>
      <if test="tciPolicyEndDate != null">
        #{tciPolicyEndDate,jdbcType=DATE},
      </if>
      <if test="vciPolicyEndDate != null">
        #{vciPolicyEndDate,jdbcType=DATE},
      </if>
      <if test="isOffline != null">
        #{isOffline,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="channel0 != null">
        #{channel0,jdbcType=VARCHAR},
      </if>
      <if test="channel1 != null">
        #{channel1,jdbcType=VARCHAR},
      </if>
      <if test="channel2 != null">
        #{channel2,jdbcType=VARCHAR},
      </if>
      <if test="channel3 != null">
        #{channel3,jdbcType=VARCHAR},
      </if>
      <if test="channel4 != null">
        #{channel4,jdbcType=VARCHAR},
      </if>
      <if test="channel5 != null">
        #{channel5,jdbcType=VARCHAR},
      </if>
      <if test="channel6 != null">
        #{channel6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ybinsure.icar.user.model.data.PolicyDOExample" resultType="java.lang.Long">
    select count(*) from icar_policy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update icar_policy
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceCode != null">
        source_code = #{record.sourceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null">
        company_id = #{record.companyId,jdbcType=TINYINT},
      </if>
      <if test="record.channelId != null">
        channel_id = #{record.channelId,jdbcType=INTEGER},
      </if>
      <if test="record.tciStartDate != null">
        tci_start_date = #{record.tciStartDate,jdbcType=DATE},
      </if>
      <if test="record.tciEndDate != null">
        tci_end_date = #{record.tciEndDate,jdbcType=DATE},
      </if>
      <if test="record.vciStartDate != null">
        vci_start_date = #{record.vciStartDate,jdbcType=DATE},
      </if>
      <if test="record.vciEndDate != null">
        vci_end_date = #{record.vciEndDate,jdbcType=DATE},
      </if>
      <if test="record.totalPremium != null">
        total_premium = #{record.totalPremium,jdbcType=DOUBLE},
      </if>
      <if test="record.tciPremium != null">
        tci_premium = #{record.tciPremium,jdbcType=DOUBLE},
      </if>
      <if test="record.vciPremium != null">
        vci_premium = #{record.vciPremium,jdbcType=DOUBLE},
      </if>
      <if test="record.vehicleTax != null">
        vehicle_tax = #{record.vehicleTax,jdbcType=DOUBLE},
      </if>
      <if test="record.tciLossOccurredCount != null">
        tci_loss_occurred_count = #{record.tciLossOccurredCount,jdbcType=TINYINT},
      </if>
      <if test="record.vciLossOccurredCount != null">
        vci_loss_occurred_count = #{record.vciLossOccurredCount,jdbcType=TINYINT},
      </if>
      <if test="record.tciDiscount != null">
        tci_discount = #{record.tciDiscount,jdbcType=DOUBLE},
      </if>
      <if test="record.vciDiscount != null">
        vci_discount = #{record.vciDiscount,jdbcType=DOUBLE},
      </if>
      <if test="record.tciCommission != null">
        tci_commission = #{record.tciCommission,jdbcType=DOUBLE},
      </if>
      <if test="record.vciCommission != null">
        vci_commission = #{record.vciCommission,jdbcType=DOUBLE},
      </if>
      <if test="record.receiveName != null">
        receive_name = #{record.receiveName,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveAddress != null">
        receive_address = #{record.receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.receivePhone != null">
        receive_phone = #{record.receivePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.proposalNo != null">
        proposal_no = #{record.proposalNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tciProposalNo != null">
        tci_proposal_no = #{record.tciProposalNo,jdbcType=VARCHAR},
      </if>
      <if test="record.vciProposalNo != null">
        vci_proposal_no = #{record.vciProposalNo,jdbcType=VARCHAR},
      </if>
      <if test="record.payNo != null">
        pay_no = #{record.payNo,jdbcType=VARCHAR},
      </if>
      <if test="record.policyNo != null">
        policy_no = #{record.policyNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tciPolicyNo != null">
        tci_policy_no = #{record.tciPolicyNo,jdbcType=VARCHAR},
      </if>
      <if test="record.vciPolicyNo != null">
        vci_policy_no = #{record.vciPolicyNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tciPolicyStatus != null">
        tci_policy_status = #{record.tciPolicyStatus,jdbcType=TINYINT},
      </if>
      <if test="record.tciStatusMessage != null">
        tci_status_message = #{record.tciStatusMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.vciPolicyStatus != null">
        vci_policy_status = #{record.vciPolicyStatus,jdbcType=TINYINT},
      </if>
      <if test="record.vciStatusMessage != null">
        vci_status_message = #{record.vciStatusMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.policyStatus != null">
        policy_status = #{record.policyStatus,jdbcType=TINYINT},
      </if>
      <if test="record.protocolCode != null">
        protocol_code = #{record.protocolCode,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorId != null">
        operator_id = #{record.operatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.businessProperty != null">
        business_property = #{record.businessProperty,jdbcType=VARCHAR},
      </if>
      <if test="record.companyChannelId != null">
        company_channel_id = #{record.companyChannelId,jdbcType=VARCHAR},
      </if>
      <if test="record.syncStatus != null">
        sync_status = #{record.syncStatus,jdbcType=TINYINT},
      </if>
      <if test="record.reason != null">
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.quoteTime != null">
        quote_time = #{record.quoteTime,jdbcType=BIGINT},
      </if>
      <if test="record.insureTime != null">
        insure_time = #{record.insureTime,jdbcType=BIGINT},
      </if>
      <if test="record.payTime != null">
        pay_time = #{record.payTime,jdbcType=BIGINT},
      </if>
      <if test="record.policyTime != null">
        policy_time = #{record.policyTime,jdbcType=BIGINT},
      </if>
      <if test="record.tciPolicyEndDate != null">
        tci_policy_end_date = #{record.tciPolicyEndDate,jdbcType=DATE},
      </if>
      <if test="record.vciPolicyEndDate != null">
        vci_policy_end_date = #{record.vciPolicyEndDate,jdbcType=DATE},
      </if>
      <if test="record.isOffline != null">
        is_offline = #{record.isOffline,jdbcType=TINYINT},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.channel0 != null">
        channel0 = #{record.channel0,jdbcType=VARCHAR},
      </if>
      <if test="record.channel1 != null">
        channel1 = #{record.channel1,jdbcType=VARCHAR},
      </if>
      <if test="record.channel2 != null">
        channel2 = #{record.channel2,jdbcType=VARCHAR},
      </if>
      <if test="record.channel3 != null">
        channel3 = #{record.channel3,jdbcType=VARCHAR},
      </if>
      <if test="record.channel4 != null">
        channel4 = #{record.channel4,jdbcType=VARCHAR},
      </if>
      <if test="record.channel5 != null">
        channel5 = #{record.channel5,jdbcType=VARCHAR},
      </if>
      <if test="record.channel6 != null">
        channel6 = #{record.channel6,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update icar_policy
    set id = #{record.id,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      source_code = #{record.sourceCode,jdbcType=VARCHAR},
      company_id = #{record.companyId,jdbcType=TINYINT},
      channel_id = #{record.channelId,jdbcType=INTEGER},
      tci_start_date = #{record.tciStartDate,jdbcType=DATE},
      tci_end_date = #{record.tciEndDate,jdbcType=DATE},
      vci_start_date = #{record.vciStartDate,jdbcType=DATE},
      vci_end_date = #{record.vciEndDate,jdbcType=DATE},
      total_premium = #{record.totalPremium,jdbcType=DOUBLE},
      tci_premium = #{record.tciPremium,jdbcType=DOUBLE},
      vci_premium = #{record.vciPremium,jdbcType=DOUBLE},
      vehicle_tax = #{record.vehicleTax,jdbcType=DOUBLE},
      tci_loss_occurred_count = #{record.tciLossOccurredCount,jdbcType=TINYINT},
      vci_loss_occurred_count = #{record.vciLossOccurredCount,jdbcType=TINYINT},
      tci_discount = #{record.tciDiscount,jdbcType=DOUBLE},
      vci_discount = #{record.vciDiscount,jdbcType=DOUBLE},
      tci_commission = #{record.tciCommission,jdbcType=DOUBLE},
      vci_commission = #{record.vciCommission,jdbcType=DOUBLE},
      receive_name = #{record.receiveName,jdbcType=VARCHAR},
      receive_address = #{record.receiveAddress,jdbcType=VARCHAR},
      receive_phone = #{record.receivePhone,jdbcType=VARCHAR},
      proposal_no = #{record.proposalNo,jdbcType=VARCHAR},
      tci_proposal_no = #{record.tciProposalNo,jdbcType=VARCHAR},
      vci_proposal_no = #{record.vciProposalNo,jdbcType=VARCHAR},
      pay_no = #{record.payNo,jdbcType=VARCHAR},
      policy_no = #{record.policyNo,jdbcType=VARCHAR},
      tci_policy_no = #{record.tciPolicyNo,jdbcType=VARCHAR},
      vci_policy_no = #{record.vciPolicyNo,jdbcType=VARCHAR},
      tci_policy_status = #{record.tciPolicyStatus,jdbcType=TINYINT},
      tci_status_message = #{record.tciStatusMessage,jdbcType=VARCHAR},
      vci_policy_status = #{record.vciPolicyStatus,jdbcType=TINYINT},
      vci_status_message = #{record.vciStatusMessage,jdbcType=VARCHAR},
      policy_status = #{record.policyStatus,jdbcType=TINYINT},
      protocol_code = #{record.protocolCode,jdbcType=VARCHAR},
      operator_id = #{record.operatorId,jdbcType=VARCHAR},
      business_property = #{record.businessProperty,jdbcType=VARCHAR},
      company_channel_id = #{record.companyChannelId,jdbcType=VARCHAR},
      sync_status = #{record.syncStatus,jdbcType=TINYINT},
      reason = #{record.reason,jdbcType=VARCHAR},
      quote_time = #{record.quoteTime,jdbcType=BIGINT},
      insure_time = #{record.insureTime,jdbcType=BIGINT},
      pay_time = #{record.payTime,jdbcType=BIGINT},
      policy_time = #{record.policyTime,jdbcType=BIGINT},
      tci_policy_end_date = #{record.tciPolicyEndDate,jdbcType=DATE},
      vci_policy_end_date = #{record.vciPolicyEndDate,jdbcType=DATE},
      is_offline = #{record.isOffline,jdbcType=TINYINT},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      channel0 = #{record.channel0,jdbcType=VARCHAR},
      channel1 = #{record.channel1,jdbcType=VARCHAR},
      channel2 = #{record.channel2,jdbcType=VARCHAR},
      channel3 = #{record.channel3,jdbcType=VARCHAR},
      channel4 = #{record.channel4,jdbcType=VARCHAR},
      channel5 = #{record.channel5,jdbcType=VARCHAR},
      channel6 = #{record.channel6,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ybinsure.icar.user.model.data.PolicyDO">
    update icar_policy
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sourceCode != null">
        source_code = #{sourceCode,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=TINYINT},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="tciStartDate != null">
        tci_start_date = #{tciStartDate,jdbcType=DATE},
      </if>
      <if test="tciEndDate != null">
        tci_end_date = #{tciEndDate,jdbcType=DATE},
      </if>
      <if test="vciStartDate != null">
        vci_start_date = #{vciStartDate,jdbcType=DATE},
      </if>
      <if test="vciEndDate != null">
        vci_end_date = #{vciEndDate,jdbcType=DATE},
      </if>
      <if test="totalPremium != null">
        total_premium = #{totalPremium,jdbcType=DOUBLE},
      </if>
      <if test="tciPremium != null">
        tci_premium = #{tciPremium,jdbcType=DOUBLE},
      </if>
      <if test="vciPremium != null">
        vci_premium = #{vciPremium,jdbcType=DOUBLE},
      </if>
      <if test="vehicleTax != null">
        vehicle_tax = #{vehicleTax,jdbcType=DOUBLE},
      </if>
      <if test="tciLossOccurredCount != null">
        tci_loss_occurred_count = #{tciLossOccurredCount,jdbcType=TINYINT},
      </if>
      <if test="vciLossOccurredCount != null">
        vci_loss_occurred_count = #{vciLossOccurredCount,jdbcType=TINYINT},
      </if>
      <if test="tciDiscount != null">
        tci_discount = #{tciDiscount,jdbcType=DOUBLE},
      </if>
      <if test="vciDiscount != null">
        vci_discount = #{vciDiscount,jdbcType=DOUBLE},
      </if>
      <if test="tciCommission != null">
        tci_commission = #{tciCommission,jdbcType=DOUBLE},
      </if>
      <if test="vciCommission != null">
        vci_commission = #{vciCommission,jdbcType=DOUBLE},
      </if>
      <if test="receiveName != null">
        receive_name = #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="receiveAddress != null">
        receive_address = #{receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="receivePhone != null">
        receive_phone = #{receivePhone,jdbcType=VARCHAR},
      </if>
      <if test="proposalNo != null">
        proposal_no = #{proposalNo,jdbcType=VARCHAR},
      </if>
      <if test="tciProposalNo != null">
        tci_proposal_no = #{tciProposalNo,jdbcType=VARCHAR},
      </if>
      <if test="vciProposalNo != null">
        vci_proposal_no = #{vciProposalNo,jdbcType=VARCHAR},
      </if>
      <if test="payNo != null">
        pay_no = #{payNo,jdbcType=VARCHAR},
      </if>
      <if test="policyNo != null">
        policy_no = #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="tciPolicyNo != null">
        tci_policy_no = #{tciPolicyNo,jdbcType=VARCHAR},
      </if>
      <if test="vciPolicyNo != null">
        vci_policy_no = #{vciPolicyNo,jdbcType=VARCHAR},
      </if>
      <if test="tciPolicyStatus != null">
        tci_policy_status = #{tciPolicyStatus,jdbcType=TINYINT},
      </if>
      <if test="tciStatusMessage != null">
        tci_status_message = #{tciStatusMessage,jdbcType=VARCHAR},
      </if>
      <if test="vciPolicyStatus != null">
        vci_policy_status = #{vciPolicyStatus,jdbcType=TINYINT},
      </if>
      <if test="vciStatusMessage != null">
        vci_status_message = #{vciStatusMessage,jdbcType=VARCHAR},
      </if>
      <if test="policyStatus != null">
        policy_status = #{policyStatus,jdbcType=TINYINT},
      </if>
      <if test="protocolCode != null">
        protocol_code = #{protocolCode,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="businessProperty != null">
        business_property = #{businessProperty,jdbcType=VARCHAR},
      </if>
      <if test="companyChannelId != null">
        company_channel_id = #{companyChannelId,jdbcType=VARCHAR},
      </if>
      <if test="syncStatus != null">
        sync_status = #{syncStatus,jdbcType=TINYINT},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="quoteTime != null">
        quote_time = #{quoteTime,jdbcType=BIGINT},
      </if>
      <if test="insureTime != null">
        insure_time = #{insureTime,jdbcType=BIGINT},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=BIGINT},
      </if>
      <if test="policyTime != null">
        policy_time = #{policyTime,jdbcType=BIGINT},
      </if>
      <if test="tciPolicyEndDate != null">
        tci_policy_end_date = #{tciPolicyEndDate,jdbcType=DATE},
      </if>
      <if test="vciPolicyEndDate != null">
        vci_policy_end_date = #{vciPolicyEndDate,jdbcType=DATE},
      </if>
      <if test="isOffline != null">
        is_offline = #{isOffline,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="channel0 != null">
        channel0 = #{channel0,jdbcType=VARCHAR},
      </if>
      <if test="channel1 != null">
        channel1 = #{channel1,jdbcType=VARCHAR},
      </if>
      <if test="channel2 != null">
        channel2 = #{channel2,jdbcType=VARCHAR},
      </if>
      <if test="channel3 != null">
        channel3 = #{channel3,jdbcType=VARCHAR},
      </if>
      <if test="channel4 != null">
        channel4 = #{channel4,jdbcType=VARCHAR},
      </if>
      <if test="channel5 != null">
        channel5 = #{channel5,jdbcType=VARCHAR},
      </if>
      <if test="channel6 != null">
        channel6 = #{channel6,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ybinsure.icar.user.model.data.PolicyDO">
    update icar_policy
    set order_id = #{orderId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      source_code = #{sourceCode,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=TINYINT},
      channel_id = #{channelId,jdbcType=INTEGER},
      tci_start_date = #{tciStartDate,jdbcType=DATE},
      tci_end_date = #{tciEndDate,jdbcType=DATE},
      vci_start_date = #{vciStartDate,jdbcType=DATE},
      vci_end_date = #{vciEndDate,jdbcType=DATE},
      total_premium = #{totalPremium,jdbcType=DOUBLE},
      tci_premium = #{tciPremium,jdbcType=DOUBLE},
      vci_premium = #{vciPremium,jdbcType=DOUBLE},
      vehicle_tax = #{vehicleTax,jdbcType=DOUBLE},
      tci_loss_occurred_count = #{tciLossOccurredCount,jdbcType=TINYINT},
      vci_loss_occurred_count = #{vciLossOccurredCount,jdbcType=TINYINT},
      tci_discount = #{tciDiscount,jdbcType=DOUBLE},
      vci_discount = #{vciDiscount,jdbcType=DOUBLE},
      tci_commission = #{tciCommission,jdbcType=DOUBLE},
      vci_commission = #{vciCommission,jdbcType=DOUBLE},
      receive_name = #{receiveName,jdbcType=VARCHAR},
      receive_address = #{receiveAddress,jdbcType=VARCHAR},
      receive_phone = #{receivePhone,jdbcType=VARCHAR},
      proposal_no = #{proposalNo,jdbcType=VARCHAR},
      tci_proposal_no = #{tciProposalNo,jdbcType=VARCHAR},
      vci_proposal_no = #{vciProposalNo,jdbcType=VARCHAR},
      pay_no = #{payNo,jdbcType=VARCHAR},
      policy_no = #{policyNo,jdbcType=VARCHAR},
      tci_policy_no = #{tciPolicyNo,jdbcType=VARCHAR},
      vci_policy_no = #{vciPolicyNo,jdbcType=VARCHAR},
      tci_policy_status = #{tciPolicyStatus,jdbcType=TINYINT},
      tci_status_message = #{tciStatusMessage,jdbcType=VARCHAR},
      vci_policy_status = #{vciPolicyStatus,jdbcType=TINYINT},
      vci_status_message = #{vciStatusMessage,jdbcType=VARCHAR},
      policy_status = #{policyStatus,jdbcType=TINYINT},
      protocol_code = #{protocolCode,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=VARCHAR},
      business_property = #{businessProperty,jdbcType=VARCHAR},
      company_channel_id = #{companyChannelId,jdbcType=VARCHAR},
      sync_status = #{syncStatus,jdbcType=TINYINT},
      reason = #{reason,jdbcType=VARCHAR},
      quote_time = #{quoteTime,jdbcType=BIGINT},
      insure_time = #{insureTime,jdbcType=BIGINT},
      pay_time = #{payTime,jdbcType=BIGINT},
      policy_time = #{policyTime,jdbcType=BIGINT},
      tci_policy_end_date = #{tciPolicyEndDate,jdbcType=DATE},
      vci_policy_end_date = #{vciPolicyEndDate,jdbcType=DATE},
      is_offline = #{isOffline,jdbcType=TINYINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      channel0 = #{channel0,jdbcType=VARCHAR},
      channel1 = #{channel1,jdbcType=VARCHAR},
      channel2 = #{channel2,jdbcType=VARCHAR},
      channel3 = #{channel3,jdbcType=VARCHAR},
      channel4 = #{channel4,jdbcType=VARCHAR},
      channel5 = #{channel5,jdbcType=VARCHAR},
      channel6 = #{channel6,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>