<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybinsure.auth.mapper.custom.CustomRoleRelatePermissionDOMapper">

    <insert id="insertList" parameterType="com.ybinsure.auth.model.data.RoleRelatePermissionDO">
        insert auth_role_permission(id, role_id, permission_id) values
        <foreach collection="param" item="item" separator=",">
            (replace(uuid(), '-', ''), #{item.roleId},#{item.permissionId})
        </foreach>
    </insert>

</mapper>