<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybinsure.auth.mapper.custom.CustomUserRelateRoleDOMapper">

    <insert id="insertList" parameterType="com.ybinsure.auth.model.data.UserRelateRoleDO">
        insert auth_user_role(id, user_id, role_id)
        values
        <foreach collection="param" item="item" separator=",">
            (replace(uuid(), '-', ''), #{item.userId}, #{item.roleId})
        </foreach>
    </insert>

</mapper>